.clear {
	clear: both;
}

#headshot {
	width: 12.5%;
	float: left;
	margin-right: 30px;
}

#name {
	float: left;
	font-size: 25px;
    margin: 0px 0px 0px 40px
}

#contactDetails {
	float: right;
	padding-left: 10px;
    margin: 10px 0px 0px 10px;
}

.sectionTitle {
	font-style: italic;
    float: left;
    width: 20%;
    color: #cf8a05;
    padding: 5px;
}

.sectionContent {
	float: right;
    width: 69%;
    margin-right: 50px;
	
}

 h2{
	font-style: italic;
}

body{
	background-color: #f3f3f3;
	color: #181818;
}

#cv{
	
	width: 70%;
	height: 1100px;
}

img{
	border-radius: 100%;
}

section{
	margin-right: 0px;
    margin-left: 40px;
    border-top: solid #dedede 1px;
    position: relative;
    padding: 0px 0px;
}

#mainArea{
	border-top: #cf8a05 solid 2px;
    height: 65%;
    padding-left: 0px;
    margin-left: 25%;
    width: 73%;
    padding-left: 30px;
    padding-right: 30px;
}

.subDetails{
    margin: 0;
    margin-left: 5px;
	color: #181818;
}

article h2{
	margin: 0px 0px 0px 10px;
	padding-left: 25px;
	padding-top: 5px;
}

article{

	margin: 5px 0px 1px 0px;
}

.sectionTitle h1{
    font-style: italic;
    font-size: 27px;
    width: 200px;
    margin: 5px 0px 10px 0px;
    color: #cf8a05;
}

 .keySkills{ 
	 list-style: none;
	marker: unset;
	column-count: 3;
 padding-left: 40px;

}

p+p, div>p{
    width: 95%;
    padding-bottom: 10px;
    padding: 0px 10px 1px 35px;

}

h1, h2{
	color: #444444;
	font-family:'Rokkitt', 'Arial', 'Helvetica', sans-serif;
}

article p:not(p+p){
	padding: 1px 0px 1px 30px;
	margin-top: 10px;
}

.mainDetails{
	padding-left: 340px;
    padding-top: 20px;
    margin: 0px 0px 20px 0px;
}

.mainDetails h1{
	margin-top: 10px;
    margin-bottom: 10px;
}

.mainDetails h2{
    margin: 0px;
}

 #contactDetails ul{
	 list-style: none;
	 pointer-events: none;

 }

 #contactDetails a{
	color: #181818;

 }

 html, body, #cv{
  font-family: 'Arial', 'Helvetica', sans-serif;
  
 }

 #contactDetails{
	 color: #181818;
 }
 
 
